body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F08080;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #8B0000;
}

.gif_container img {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;

}